.navBar{
    justify-content: space-between;
    margin: -10px !important;
}
.logo{
    width: 50px !important;
    cursor: pointer !important;
    margin: 30px !important;
}
.nav{
    padding-right: 30px;
    height: 2rem;
}
.nav ul li{
    display: inline-block;
    margin-right: 20px;
}
ul li a{
    text-decoration: none;
    color: black;
}
.nav ul li a:hover{
    color: blue;
}
.nav ul li a:active{
    color: blue;
}
.search-box{
    width: 500px !important;
    border-radius: 20px !important;
    box-shadow: none !important;
    margin-right: 10px !important;
    border: 1px solid black;
    padding: 6px;
    display: flex;
    align-items: center;
}
.input-search{
    width: 100% !important;
    border: none !important;
    font-size: 14px;
}
.input-search:focus{
    outline: none;
}
button:hover{
    background-color: rgb(71, 65, 65) !important;
}
.dropdownMenu{
    cursor: pointer;
    width: 60px;
    display: block;
}
.dropdownMenu a{
    color: black !important;
}
.dropdownMenu a:hover{
    color: blue !important;
}
.dropDownList{
    position: absolute;
    border: 0.1px solid transparent;
    border-radius: 2px;
    width: 6%;
}
.dropDownList li a{
    padding-left: 60px;
    color: black !important;
    display: flex;
    justify-content: center;
}
.dropDownList li a:hover{
    text-decoration: underline !important;
}