.navBar{
    justify-content: space-between;
    margin: -10px !important;
}
.logo{
    width: 50px !important;
    cursor: pointer !important;
    margin: 30px !important;
}
.nav ul li{
    display: inline-block !important;
    margin-right: 30px;
}
ul li a{
    text-decoration: none;
    color: black;
}
.nav ul li a:hover{
    color: blue;
}
.nav ul li a:active{
    color: blue;
}
.search-box{
    width: 500px !important;
    border-radius: 10px !important;
    box-shadow: none !important;
    margin-right: 10px !important;
}
.search-btn{
    width: 80px !important;
    height: 35px;
    border-radius: 10px !important;
    box-shadow: none !important;
}
button:hover{
    background-color: rgb(71, 65, 65) !important;
}