*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.leftMenu{
    width: 250px;
    height: 100%;
    background: black;
    position: fixed;
}
.leftLogo img{
    width: 40% !important;
    border-radius: 50%;
}
.leftLogo h2{
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
.leftItem ul a{
    display: block;
    width: 100%;
    height: inherit;
    line-height: 50px;
    font-size: 11px;
    font-family: sans-serif;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: white;
}
ul li:hover{
    padding-left: 20px;
}
ul a:hover{
    padding-left: 30px;
    border-radius: 15px;
    background-color: white;
    color: black;
    transition: 0.5s;
}
.row{
    padding: 0;
    margin: 0;
}
.topMenu{
    background-color: black;
    height: 60px;
}
.topMenu a{
    color: rgb(242, 242, 242) !important;
    font-size: 20px;
    right: 20px;
    position: absolute;
    bottom: 600px;
}
span{
    position: fixed;
    bottom: 600px;
    color: white;
    left: 250px;
}







