*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.main-body{
    width: 100% !important;
    margin-top: -15px;
}
.header{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: -80px;
}
.navBar{
    width: 100%;
    display: flex;
    align-items: center;
}

.row1{
    display: flex;
    text-align: left;
    justify-content: space-around;
    margin: 70px 0px 10px 0px;
}
.col1{
    flex-direction: 40%;
    position: relative;
    margin-left: 0px !important;
}
.col1 h2{
    font-size: 50px;
}
.col1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px 0 10px;
}
.col1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
    margin: 30px 0;
    font-size: 20px;
}
.col2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col2 .iPhone1{
    width: 100%;
    cursor: pointer;
    padding-left: 50px;
}
.upper-card-image-text{
    font-size: 35px;
    padding: 60px 10px 30px 13px;
    font-family: sans-serif;
    color: rgb(64, 60, 60);
}
.card-img-full{
    position: relative;
    display: flex !important;
    width: 90.5vw !important;
    margin: 0 8% 8% 0;
}
.card-image{
    width: 30%;
    height: 100%;
    padding-right: -1000px !important;
    transition: 0.5s;
}
.card-image:hover{
    transform: scale(1.1);
}
.card-image img{
    width: 100%;
    height: 100%;
    border: 0.01px solid rgb(245, 232, 232);
    border-radius: 10px;
}
.card-image-text{
    color: white !important;
}
.card-image-text section{
    color: white !important;
}
  .card-image section{
    position: absolute;
    top: 5%;
    color: #8d8888;
    padding: 2%;
  }
  .card-image h1{
    position: absolute;
    top: 10%;
    padding: 2%;
  }
  .card-image p{
    position: absolute;
    top: 20%;
    padding: 2%;
  }

/* .color-image{
    position: absolute;
    top: 0;
    right: 0;
    background: black;
    width: 80%;
    height: 100%;
    border-radius: 20px 0 0 20px;
} */
.btn-buy{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: white;
    background: linear-gradient(to right, black, grey);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;

}
.col3{
    width: 98.2%;
    background-color: #f5f5f7;
}
.col3 h1{
    display: flex;
    font-size: 60px;
    justify-content: center;
    padding-top: 90px;
    z-index: 1;
}
.col3 .homeText1{
    font-size: 22px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    justify-content: space-between;
}
.col3 .previewBtn{
    display: flex;
    justify-content: center;
    text-decoration: none !important;
    color: black;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    margin: 20px 0 50px 40%;
}
a{
    text-decoration: none !important;
    color: black;
}
.previewBtn a:hover{
    color: black;
}

.imageBody{
    position: relative;
    display: flex;
    align-items: center;
    flex-basis: 60%;
}
.imageBody .largeImg{
    width: 81.5vw;
    margin-top: -10px;
}

/* shop page css */
.shop-header-text h1{
    display: flex;
    justify-content: center;
    font-weight: 40px;
}
.shop-container{
    margin: 10px 9% 10px 15% !important;
}
.shop-image img{
    width: 90%;
}
.shop-image1 img{
    width: 80%;
    padding-top: 35px;
}
.shop-image2 img{
    width: 70%;
    padding-top: 70px;
}
.shop-image3 img{
    width: 65%;
    padding-top: 90px;
}
.circle{
    padding-left: 35px;
}
.dot{
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}
.dot-red{
    height: 15px;
    width: 15px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}
.dot-blue{
    height: 15px;
    width: 15px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}
.dot-black{
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}
.shop-image3 h5{
    padding-top: 40px;
}
.circle h6{
    padding-top: 20px;
    padding-left: 50px;
    color: red;
}
.circle h5, p{
    justify-content: center;
    direction: flex;
}
.circle section{
    padding-left: 30px;
}
.buy-shop{
    height: 35px;
    width: 100px;
    border-radius: 100%;
    margin-left: 20px;
    margin-top: 20px;
    box-shadow: none !important;
    background-color: rgb(32, 32, 222) !important;
}
.buy-shop:hover{
    background-color: blue !important;
}
.iphone-details img{
    margin-left: 20%;
    margin-bottom: 40px;
}

/* middle-text */
.middle-text p{
    display: flex;
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 100;
    padding-bottom: 20px;
}
.buyText{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0px !important;
    padding: 15px 20px 10px 20px;
}
.buyText a{
    text-decoration: underline;
}
.buyText h3{
    font-size: 40px;
    color: green;
    padding-top: 15px;
}
.buyText p{
    font-size: 25px;
    padding-top: 30px;
}
.buyText a:hover{
    color: rgb(11, 11, 89);
}
.buyText img{
    width: 100%;
    padding-bottom: 20px;
}
.buyText-img1{
    padding-right: -20px;
}
.text{
    padding-top: 40px;
}

/* cart css */
.list-item{
    padding: 50px 0px 60px 0px;
}
.cart1 img{
    padding-top: 20px;
}
.cart1{
    text-align: center;
    padding-bottom: 30px;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
}
.cart1 button{
    box-shadow: none !important;
}
.col-md-3{
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
}
.col-md-3 button{
    box-shadow: none !important;
    box-shadow: none;
    font-size: 14px;
    font-family: sans-serif;
}
.add-cart{
    box-shadow: none;
}
button:hover{
    background-color:rgb(64, 60, 60) !important;
}






@media screen and (max-width:700px) {
    img .logo{
        z-index: 1;
    }
    .nav ul{
        width: 100%;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
        margin-top: 10px;
        background: linear-gradient(to right, black, grey);
        color: white;
    }
    .nav ul li{
        display: inline-block;
        font-size: 13px;
    }
    ul li a{
        color: white;
    }
    .header1{
        flex-direction: column-reverse;
        margin: 50px 10px 0 0;
        display: flex;
        justify-content: center;
    }
    .col1{
        margin-top: -20px;
    }
    .col2{
        flex-basis: 100px;
        margin: 10px 50px 50px 0px;
    }
    .imageBody{
        margin-top: 10px;
    }
    .col3 .previewBtn{
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 80px;
    }
    .iPhone1{
        margin-top: -40px;
    }
}
